In [27]:
'''1) Use Python lists and dictionaries. How to do slicing of lists using the colon (:) specifications. '''
# Initializing the a sample dictionay and list
dic = {'1':'satya', '2':'prakash', '3':'sharma'}
lis = [i+1 for i in range(10)]

#printing the dict and list
print("Sample Dictionary", dic)
print("Sample list", lis)
print("-------------------------------")

# We can simply get the dictionary value if we know the key.
print('Getting the dictionary of key 1->', dic['1'])

## Slicing of list using colon(:)
# Get the list's value of specific left based index by list[i], it start with 0 based index
print("2nd index's value from left 0 based index->", lis[2])

# Get the list's value from right based index by  list[-i], it start with 1 based index
print("2nd index's value from the right 1 based index->", lis[-2])

# Get the list's sublist's by list[i:j] where i in inclusive and j is exclusive
print("list's value from 2 index to 8 index->", lis[2:8])

# Reverse the list by list[::-1]
print("Reverse the list->", lis[::-1])

Sample Dictionary {'1': 'satya', '2': 'prakash', '3': 'sharma'}
Sample list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
-------------------------------
Getting the dictionary of key 1-> satya
2nd index's value from left 0 based index-> 3
2nd index's value from the right 1 based index-> 9
list's value from 2 index to 8 index-> [3, 4, 5, 6, 7, 8]
Reverse the list-> [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
'''2) Create a DataFrame object from the data loaded from a dataset. '''
# Import the pandas library
import pandas as pd

# read the iris data set in data frame of pandas library
data = pd.read_csv('iris.data')
print("data type-> ",type(data))
data.head()

data type->  <class 'pandas.core.frame.DataFrame'>

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [31]:
'''3) Print various rows and columns of the dataset. '''

# get the len/size of the data by len(data)/ data.size()
print('Length/Rows of data set->', len(data))

# get the first n rows by data.head(n)
print('\nPrint rows from 1-10', data.head(10))

# get the column by data.column, and len by len(data.column)
print('Number of columns->', len(data.columns))
print('All columns name: ', data.columns)

# get the rows and column by data.shape
print('Shape (r*c): ', data.shape)

# get the specific column by data['column_name'].head()
print('print petal length column\n', data['petal length'].head())

# get the specific rows x by data[x:x+1]
print('\n 3rd row of the data set')
data[3:4].head()

Length/Rows of data set-> 150

Print rows from 1-10    sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa
Number of columns-> 5
All columns name:  Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'class'], dtype='object')
Shape (r*c):  (150, 5)
print petal length column
 0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
Name: petal length, dtype: float64

 3rd row of the data set

   sepal length  sepal width  petal length  petal width        class
3           4.6          3.1           1.5          0.2  Iris-setosa

In [105]:
'''4) Print a subset of rows and a subset of columns'''

# Select subset of column
tmp = data[['sepal length', 'sepal width']]
print('shape r*c: ', tmp.shape)
print(tmp.head())

# Select subset of rows
# select specific rows based on some condition on column value
sepal_len_gth_3 = data[data['sepal length']>3]
print('\nsepal_len_gth_3 r*c: ', tmp.shape)
# print(sepal_len_gth_3.head())

# select the specific rows based on list based condition on column value
tmp2 = data[data['class'].isin(['Iris-setosa'])]
print('shape of data based on isin:', tmp2.shape)
# print(tmp2.head())

# select specific rows and column
tmp3 = data.loc[data['sepal length']>3,'class']
print('shape of data for specific row and column based on condition:', tmp3.shape)
print(tmp3.head())

# select specific rows and column based on row number and column number
tmp4 = data.iloc[9:25, 2:5]
print('shape of data for specific row and column number:', tmp4.shape)
print(tmp4.head())

shape r*c:  (150, 2)
   sepal length  sepal width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

sepal_len_gth_3 r*c:  (150, 2)
shape of data based on isin: (50, 5)
shape of data for specific row and column based on condition: (150,)
0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: class, dtype: object
shape of data for specific row and column number: (16, 3)
    petal length  petal width        class
9            1.5          0.1  Iris-setosa
10           1.5          0.2  Iris-setosa
11           1.6          0.2  Iris-setosa
12           1.4          0.1  Iris-setosa
13           1.1          0.1  Iris-setosa

In [104]:
'''5) How to group (aggregate) specific columns that correspond to certain specific values of rows. (use DataFrame.groupby()) '''

# groupby have multiple arguments like by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=<object object>, observed=False, dropna=True
# Example of groupby
group_by_class = data.groupby(['class'])
print('group by class')
print(group_by_class.head())
# group_by_class.head()

# Example of groupby then apply aggregate function like mean(), sum(), etc
group_by_class_with_mean = data.groupby(by=['class']).mean()
print('\ngroup by class then apply aggregate function mean()')
print(group_by_class_with_mean.head())
# group_by_class_with_mean.head()

# Example of groupby then sort them
group_by_class_with_sort = data.groupby('class', sort=True).head()
print('\ngroup by class then sort them in ascending order')
print(group_by_class_with_sort.head())
# group_by_class_with_sort.head()

group by class
     sepal length  sepal width  petal length  petal width            class
0             5.1          3.5           1.4          0.2      Iris-setosa
1             4.9          3.0           1.4          0.2      Iris-setosa
2             4.7          3.2           1.3          0.2      Iris-setosa
3             4.6          3.1           1.5          0.2      Iris-setosa
4             5.0          3.6           1.4          0.2      Iris-setosa
50            7.0          3.2           4.7          1.4  Iris-versicolor
51            6.4          3.2           4.5          1.5  Iris-versicolor
52            6.9          3.1           4.9          1.5  Iris-versicolor
53            5.5          2.3           4.0          1.3  Iris-versicolor
54            6.5          2.8           4.6          1.5  Iris-versicolor
100           6.3          3.3           6.0          2.5   Iris-virginica
101           5.8          2.7           5.1          1.9   Iris-virginica
102           7.1          3.0           5.9          2.1   Iris-virginica
103           6.3          2.9           5.6          1.8   Iris-virginica
104           6.5          3.0           5.8          2.2   Iris-virginica

group by class then apply aggregate function mean()
                 sepal length  sepal width  petal length  petal width
class
Iris-setosa             5.006        3.418         1.464        0.244
Iris-versicolor         5.936        2.770         4.260        1.326
Iris-virginica          6.588        2.974         5.552        2.026

group by class then sort them in ascending order
   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa